<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.8631827731092436) 69%, rgba(42,255,85,1) 90%);
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh; 
margin: 0;">
    <nav><a href="/">back!</a></nav>
    <h1 style="text-align: center;">Accion realizada con exito!</h1>
</body>
</html>